defaults:
  - _self_                 # 加载当前文件的配置
  - model: transformer     # 加载 conf/model/transformer.yaml
  - dataset: opus_enzh     # 加载 conf/dataset/opus_enzh.yaml
  - optimizer: adamw       # 加载 conf/optimizer/adamw.yaml
  - criterion: ce          # 加载 conf/criterion/ce.yaml
  - logger: wandb          # 加载 conf/logger/wandb.yaml
  - callback: default      # 加载 conf/callback/default.yaml
  - scheduler: onecycle

train:
  seed: 42
  device: cuda             # 环境支持 CUDA，直接用显卡跑
  epochs: 30               # 15-20轮即可
  use_amp: true            # 使用混合精度训练


checkpoint:
  enabled: true
  save_dir: "checkpoints"


hydra:
  job:
    chdir: false        # 不改变工作目录，保持在运行脚本的目录
  job_logging:
    formatters:
      simple:
        # 默认是: "[%(asctime)s][%(name)s][%(levelname)s] - %(message)s"
        format: "[%(name)s] - %(message)s"
  # 我想重命名输出目录
  # run:
  #   dir: ./outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}_${hydra.job.num} # default